body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header 
{
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul 
{
  list-style-type: none;
  padding: 0;
  background: #444;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li 
{
  margin: 0;
}

nav ul li a 
{
  color: white;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

nav ul li a:hover 
{
  background: #555;
}

main 
{
  padding: 1rem;
}

section 
{
  margin-bottom: 2rem;
}

footer 
{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* Gallery item styles */
.gallery-item 
{
  opacity: 0; /* Start with images hidden */
  animation: fadeIn 1s ease-in-out forwards;
  margin-bottom: 2rem;
}

/* Fade-in animation */
@keyframes fadeIn 
{
  0% 
  {
    opacity: 0;
    transform: translateY(20px); /* Move images up from below */
  }
  100% 
  {
    opacity: 1;
    transform: translateY(0); /* Move images to their original position */
  }
}

/* Apply delay to each gallery item for staggered effect */
.gallery-item:nth-child(1) 
{
  animation-delay: 0.2s;
}

.gallery-item:nth-child(2) 
{
  animation-delay: 0.4s;
}

.gallery-item:nth-child(3) 
{
  animation-delay: 0.6s;
}

.gallery-item:nth-child(4) 
{
  animation-delay: 0.8s;
}

.gallery-item:nth-child(5) 
{
  animation-delay: 1s;
}

.gallery-item:nth-child(6) 
{
  animation-delay: 1.2s;
}

.gallery-item:nth-child(7) 
{
  animation-delay: 1.4s;
}

.gallery-item:nth-child(8) 
{
  animation-delay: 1.6s;
}

.gallery-item:nth-child(9) 
{
  animation-delay: 1.8s;
}

.gallery-item:nth-child(10) 
{
  animation-delay: 2s;
}

.gallery-item:nth-child(11) 
{
  animation-delay: 2.2s;
}

.gallery-item:nth-child(12) 
{
  animation-delay: 2.4s;
}
